<!DOCTYPE html>
{% load static %}
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/genero.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/compras.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>
    <link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css" media="all">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% block head %}{% endblock %}
    <title>Groomeet{% block title %}{% endblock %}</title>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top"
         style="min-height: 80px; margin-top:-8px; margin-bottom:8px; ">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/logo_negativo_para_fondo_negro.png' %}" alt="" style="max-height: 60px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chat">Chats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/misBandas">Mis Bandas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/buscarBandas">Buscar Bandas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/misInvitaciones">Peticiones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/listadoProductos">Tienda</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

{% block body %}{% endblock %}

<footer>
    {% block footer %}{% endblock %}
</footer>
</body>
</html>