{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="error-msg text-center">
            <p>Lo sentimos, parece que hay algo desafinado por aquí.</p>
        </div>
        <!-- En caso de que el video pese demasiado, descomentar lo siguiente para reproducirlo desde youtube --> <!--
        <div class="video-responsive row">
                <iframe class="offset-xs-1 offset-md-3 marco-video" src="https://www.youtube.com/embed/am1_JLFDFMw?autoplay=1&start=19" frameborder="0" 
                    allowfullscreen="allowfullscreen"></iframe>
        </div>
        --><!-- Hasta aquí -->
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="embed-responsive embed-responsive-16by9 marco-video ">
                    <iframe class="embed-responsive-item " src="{% static 'videos/titanic-flute.mp4'  %}" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="ret-msg text-center">
            <p>Regresa a la <a class="return" href="/" class="enlace">página de Inicio</a> para oir a los fantásticos músicos de Groomeet.</p>
        </div>
    </div>
   

    
{% endblock %}
