{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container-fluid">
    {% if request.user.is_authenticated %}

    <div class="row">
      <div class="col-xs-1 col-sm-3 col-lg-1 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-0">
          Home
      </div>

      <div class="col-xs-1 col-sm-3 col-lg-1">
          Chats
      </div>

      <div class="col-xs-1 col-sm-3 col-lg-1">
          Settings
      </div>
    </div>
    <div class="genBloq">

        <div class="d-flex flex-wrap">
            {% for genero in generos %}
            <div class="col-12 col-md-2 card justify-content-center align-items-center genero">
                <p class="card-title">{{genero.nombre}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

    {% endblock %}
