{% extends 'base.html' %}
{% block body %}
<div class="card-body" style="margin-top:50px;">
    <h2>Mis Invitaciones</h2><br>
      
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Recibida de</th>
                <th scope="col">Banda</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for row in misInvitaciones %}
            <tr>
                <td>{{ row.emisor.usuario.username }}</td>
                <td>{{ row.banda.nombre }}</td>
                <td>{% if row.estado == 'EstadoInvitacion.Pendiente' %}
                        Pendiente
                    {% elif row.estado == 'EstadoInvitacion.Aceptada' %}
                        Aceptada
                    {% elif row.estado == 'EstadoInvitacion.Rechazada' %}
                        Rechazada
                    {% endif %}
                    </td>
                {% if row.estado == 'EstadoInvitacion.Pendiente' %}
                <td>
                    <a href="/aceptarInvitacion/{{ row.id }}" class="btn btn-success">Aceptar</a>
                    <a href="/rechazarInvitacion/{{ row.id }}" class="btn btn-danger">Rechazar</a>
                    <a href="/showInvitacion/{{ row.id }}" class="btn btn-info">Ver</a>
                </td>
                {% else %}
                <td>
                    
                </td>
                {% endif %}
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}

</body>
</html>