{% extends 'menu.html' %}
{% block body %}
<div class="card-body" style="margin-top:50px;">
    <h2>Mis Invitaciones</h2><br>
      
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Recibida de</th>
                <th scope="col">Banda</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for row in misInvitaciones %}
            <tr>
                <td>{{ row.emisor.usuario.username }}</td>
                <td>{{ row.banda.nombre }}</td>
                <td>{{ row.estado }}</td>
                {% if row.estado == 'EstadoInvitacion.Pendiente' %}
                <td>
                    <a href="/aceptarInvitacion/{{ row.id }}">Aceptar</a>
                    <a href="/rechazarInvitacion/{{ row.id }}">Rechazar</a>
                </td>
                {% endif %}
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}

</body>
</html>