/* Sustituido por .table-cabecera y .der
h1 {
    background-image: linear-gradient(to right, var(--primary-color), #fff);
}
*/

.table-cabecera {
    width: 100%;
    background-image: linear-gradient(to right, var(--primary-color), #fff);
}

.der {
    text-align: right;
    padding-right: 10px;
}


.row {
    flex-wrap: initial;
}

.chats {
    display: none;
}

#picture {
    height: 412px;
}

/* Small devices */
@media (min-width: 768px) {
    #picture {
        height: initial;
    }
 }

/* Medium devices */
@media (min-width: 992px) {
    .chats {
        display: initial;
    }
 }

/* Large devices */
@media (min-width: 1200px) {

 }