@media only screen and (min-width: 768px) {
  iframe{
    height: 13em;
  }
  .card{
    width: 50%;
  }
}

.video{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.name{
  margin-bottom: 3px !important;
  font-weight: bold !important;
}

button svg {
  width: 24px;
  height: 24px;
}

.last-img-pers{
  border-radius: 7px;
}

.msg-pers {
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: x-large;
}

.card{
  border-radius: 10px;
}

.card-p{
  width:104%;
  height: 99%;
  margin-left: -2%;
}

.card-1{
  width:104%;
  height: 99.2%;
  margin-left: -2%;
  background-color: rgba(248, 248, 248);
  border-top-color: rgba(255, 255, 255, 0);
}

.card-2{
  background-color: rgb(245, 245, 245);
  border-top-color: rgb(255, 255, 255, 0);
}

.del-cards {
  background-color: rgb(255, 255, 255, 0);
  border-color: rgb(255, 255, 255, 0);
}